# DeepSeek API Key
DEEPSEEK_API_KEY=your_deepseek_api_key_here

# DeepSeek API Base URL
DEEPSEEK_BASE_URL=https://api.deepseek.com

LANGSMITH_API_KEY=your_api_key_here

# Minimax API Key 
MINIMAX_API_KEY=your_api_key_here
MINIMAX_API_BASE_URL=https://api.minimaxi.com/anthropic/v1


OPENROUTER_API_KEY=your_api_key_here
OPENROUTER_API_BASE_URL=https://openrouter.ai/api/v1

# SMTP Email Configuration
SMTP_HOST=smtp.example.com
SMTP_PORT=465
SMTP_USER=your_email@example.com
SMTP_PASS=your_email_password
SMTP_FROM=your_email@example.com

#ECLAW_DATA_DIR
ECLAW_DATA_DIR=./data

# Bitiful S3 Configuration 缤纷云静态存储
BITIFUL_ENDPOINT=https://s3.bitiful.net
BITIFUL_REGION=cn-east-1
BITIFUL_ACCESS_KEY_ID=your_access_key_id
BITIFUL_SECRET_ACCESS_KEY=your_secret_access_key
BITIFUL_S3_BUCKET=your_bucket_name
BITIFUL_CDN_URL=https://your_cdn_url.com
